{{ define "main" -}}
<section class="news-section">
    <h2>News</h2>
    {{ with .Site.GetPage "/news" }}
        {{ .Content }}
    {{ else }}
        <p>No news content found.</p>
    {{ end }}
</section>

<div class="posts">
    {{ $frontPageTypes := default (slice "posts") .Site.Params.front_page_content }}
    {{ range (.Paginate (where .Site.RegularPages "Type" "in" $frontPageTypes)).Pages }}
    <article class="post">
        {{ partial "post/info.html" . }}
        {{ if or (.Site.Params.noSummary) (.Params.noSummary) }}
        {{ .Content }}
        {{ else }}
        {{ .Summary }}
        {{ if .Truncated }}
        <div class="read-more-link">
            <a href="{{ .RelPermalink }}">Read More…</a>
        </div>
        {{ end }}
        {{ end }}
    </article>
    {{- end }}
</div>
{{ partial "pagination.html" . }}
{{- end }}
