<!-- Interactive Visualization 2: Task Timelines -->

<body class="anr-body antialiased">
    <div class="bg-gray-800 p-6 rounded-lg my-12">
        <h2 class="text-2xl font-bold text-white text-center mb-6">A Close Look into Task Timelines</h2>
        <p class="text-center text-gray-400 mb-8">To understand how events unfold over time for each system, we
            performed a
            detailed timeline analysis with one randomly selected task. Note the frequent, small web searches for o3-DR,
            the
            long, sequential searches for GPT-5, and the parallel searches for LangChain-DR.</p>

    </div>
</body>